<div class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item">
			<img class="slide-image" src="slide" src="http://img.zcool.cn/community/01c77d55f1239032f875a132aff655.jpg" alt="">
		</div>
		<div class="item">
			<img class="slide-image" src="slide" src="http://img.zcool.cn/community/01c77d55f1239032f875a132aff655.jpg" alt="">
		</div>
		<div class="item">
			<img class="slide-image" src="slide" src="http://img.zcool.cn/community/01c77d55f1239032f875a132aff655.jpg" alt="">
		</div>
	</div>
</div>